<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ApplicationConfiguration" type="Rugman.Analysis.ClassLib.Common.Configuration, Rugman.Analysis" />
	</configSections>
	<ApplicationConfiguration>
		<!--
		<add key="Rugman.Analysis.Data.DBConnectionstring" value="Server=DEV-DATA;uid=AppUser;pwd=;database=Rugman_Analysis" />
		-->
		<add key="Nujit.Utility.Data.DBRepository" value="Access" />
		
		<add key="Nujit.Utility.Data.DBConnectionstring" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=data\NujitSample.mdb" />
		
		<add key="Nujit.Utility.Error.EnableErrorEmail" value="" />
		<add key="Nujit.Utility.Error.ErrorEmailFrom" value="" />
		<add key="Nujit.Utility.Error.ErrorEmailTo" value="" />
	</ApplicationConfiguration>	
</configuration>
		
